/* Colors variables */
$color_1: #fff;
$color_2: fff;
$color_3: #92fe9d;
$color_4: #00c9ff;

/*Size variables*/

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 1440px,
  xl: 1620px,
  xxl: 1920px,
);
